* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(243, 235, 226);
}

.container {
  position: relative;
  top: 10vh;
  max-width: 480px;
  margin: auto;
  background-color: #ffffff;
  height: 640px;
  border-radius: 20px;
}
