* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(243, 235, 226);
}

.container {
  position: relative;
  top: 6vh;
  max-width: 30rem;
  height: 35rem;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
}
